html, body, div {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100vw;
    width: 100vw;
    background-color: black;
}

img {
    max-width: 100px;
    max-height: 100px;
}

h1 {
    color: aliceblue;
    word-wrap: break-word;
    font-size: small;
}