html, body, div {
    position: relative;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    height: 100vw;
    width: 100vw;

    font-size: 1.5vw;
    overflow: hidden;

    background-color: black;
}

/* this aint working tho */
a:hover, a:focus {
    background-color:transparent !important;
}

img {
    max-width: 3vw;
    max-height: 3vw;
   
}

img:hover{
    max-width: 3vw;
    max-height: 3vw;
    -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    img {
        max-width: 3vw;
        max-height: 3vw;
        -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
        filter: grayscale(10%) blur(3px);
    }
}

h1 {
    color: aliceblue;
    word-wrap: break-word;
    font-size: small;
}