html, body, div {
    position: relative;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    
    height: 100vw;
    width: 100vw;

    font-size: 1.5vw;
    overflow: hidden;

    background-color: black;
}

img {
    max-width: 10vw;
    max-height: 10vw;
}

h1 {
    color: aliceblue;
    word-wrap: break-word;
    font-size: small;
}